[Unit]
Description=Fan management client
After=network.target pigpiod.service
Requires=pigpiod.service

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /srv/FreeNAS-Fan-Control/client-script/fanctl_client.py
Restart=always
RestartSec=10s
WorkingDirectory=/srv/FreeNAS-Fan-Control/client-script

ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes

[Install]
Alias=fanctl
WantedBy=multi-user.target

