[Unit]
Description=Fan management server daemon
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /srv/FreeNAS-Fan-Control/primary-control-script/fanctl.py
Restart=always
RestartSec=30s
WorkingDirectory=/srv/FreeNAS-Fan-Control/primary-control-script

ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes

[Install]
Alias=fanctl
WantedBy=multi-user.target

